<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">
    {% block title %}

    {% endblock %}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/footer.css')}}">

    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/coloresnav.css')}}">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
        integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">


</head>

<body>
    <nav class="navbar d-flex align-items-start fixed-top ">
        <a class="navbar-brand" href="/">Inicio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" id="boton"
            style="color: #fff; position: fixed; right: 0; width: 100px;"><i class="fas fa-bars"></i></button>
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Análisis de Datos Estadísticos
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{url_for('mediamm')}}">Media, Mediana, Moda</a>
                        <a class="dropdown-item" href="http://127.0.0.1:8050/">COVID-19 Dashboard</a> 
                        <a class="dropdown-item" href="https://scratch.mit.edu/projects/550484719">Ver Simulación con Scratch</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Números Aleatorios
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{url_for('cuadradosMedios')}}">Método de los cuadrados medios</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{url_for('congruencialLineal')}}">Método congruencial lineal</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{url_for('congruencialMultiplicativo')}}">Método congruencial multiplicativo</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Modelos de Pronósticos
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{url_for('promedioMovil')}}">Promedio Móvil</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{url_for('suavizacionExponencial')}}">Suavización Exponencial</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Regresiones
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{url_for('regresionLineal')}}">Regresión lineal</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{url_for('regresionLinealCuadrada')}}">Regresión lineal cuadrada</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Modelos de simulación
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{url_for('sistemaMontecarlo')}}">Montecarlo</a>                       
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{url_for('sistemaLineaEspera')}}">Línea de espera</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{url_for('sistemaInventario')}}">Sistema de inventario</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>



    {% block content %}

    {% endblock %}

    <footer class="footer">
        <div class="container bottom_border">
            <div class="row">
                <div class=" col-sm-4 col-md col-sm-4  col-12 col">
                    <h5 class="headin5_amrc col_white_amrc pt2">Información Personal</h5>
                    <!--headin5_amrc-->
                    <p><i class="fa fa-location-arrow"></i> 9999999999 </p>
                    <p><i class="fa fa-phone"></i> +593-9999999999 </p>
                    <p><i class="fa fa fa-envelope"></i> andersonmera14@gmail.com </p>


                </div>


                <div class=" col-sm-4 col-md  col-6 col">
                    <h5 class="headin5_amrc col_white_amrc pt2">Técnicas de Simulación</h5>
                    <!--headin5_amrc-->
                    <ul class="footer_ul_amrc">
                        <li><a href="">Media Mediana Moda</a></li>
                        <li><a href="">Congruencial Lineal</a></li>
                        <li><a href="">Congruencial Multiplicativo</a></li>
                        <li><a href="">Cuadrados Medios</a></li>
                    </ul>
                    <!--footer_ul_amrc ends here-->
                </div>

                <div class=" col-sm-4 col-md  col-6 col">
                    <h5 class="headin5_amrc col_white_amrc pt2">Técnicas de Simulación</h5>
                    <!--headin5_amrc-->
                    <ul class="footer_ul_amrc">
                        <li><a href="">Regresión Lineal</a></li>
                        <li><a href="">Regresión lineal Cuadrada</a></li>
                        <li><a href="">Montecarlo</a></li>
                        <li><a href="">Sistema de Inventario</a></li>
                        <li><a href="">Sistema Línea de Espera</a></li>
                    </ul>
                    <!--footer_ul_amrc ends here-->
                </div>



                <div class=" col-sm-4 col-md  col-12 col">




                    <div class="container">
                        <br>
                        <!--foote_bottom_ul_amrc ends here-->
                        <p class="text-center">Copyright @2021 | Desarrollado por <a href="#">Mera Murillo Anderson</a>
                        </p>

                        <ul class="social_footer_ul">
                            <li><a target="_blank"
                                    href="https://www.facebook.com/profile.php?id=100006616307514&sk=about"><i
                                        class="fab fa-facebook-f"></i></a></li>
                            <li><a target="_blank" href="https://twitter.com/AndersonMera8"><i
                                        class="fab fa-twitter"></i></a></li>
                        </ul>

                        <ul class="social_footer_ul">
                            <li><a target="_blank" href="https://www.linkedin.com/in/anderson-mera-6781b21b0/"><i
                                        class="fab fa-linkedin"></i></a></li>
                            <li><a target="_blank" href="https://www.instagram.com/mera19.1999/?hl=es-la"><i class="fab fa-instagram"></i></a>
                            </li>
                        </ul>
                        <!--social_footer_ul ends here-->
                    </div>

    </footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>